<!DOCTYPE html>
<html lang="en">
<head>
    <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
    <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-pip/v0.0.2/leaflet-pip.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta charset="UTF-8">
    <title>MapTest</title>
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>
    <div id='map' class='state'></div>
</body>
    <script>
        window.onload = function(){

            L.mapbox.accessToken = 'pk.eyJ1IjoibHVrZXppbTUiLCJhIjoiV0tta2p0QSJ9.sU76UnZ2bZSQap5uY6XDAA';
            // Create a map in the div #map
            var state = document.getElementById('state');
            var map = L.mapbox.map('map', 'mapbox.streets').setView([39.50,  -98.35], 5);

            var myControl = L.Control.extend({
                options : {
                    position : 'topright'
                },
                onAdd : function(map) {
                 var textInput = L.DomUtil.create('input', 'queryInput');
                 L.DomEvent.addListener(textInput, 'keyup', this.submit,this)
                 return textInput;
                },
                submit : function(e) {
                    if (e.keyCode == 13){
                        query(e.srcElement.value)
                        console.log(e.srcElement.value);
                    }
                }
            });

            map.addControl(new myControl());



            $.ajax({
                url: '/assets/geoJson/gz_2010_us_040_00_5m.json',
                dataType: 'json',
                success: function load(d) {
                    states = L.geoJson(d).addTo(map);
                    states.setStyle({color : "#2E0854", opacity : .4, fillOpacity : 1});
                    }
                 });
            function query(query){
                $.ajax({
                    url: '/query/' + encodeURIComponent(query),
                    dataType: 'json',
                    success : function load(e){
                        console.log(e)
                        states.setStyle(function(feature){
                            switch (feature.properties.NAME){
                                case 'Alabama' : return {color : e.Alabama};
                                case 'Alaska' : return {color : e.Alaska};
                                case 'Arizona' : return {color : e.Arizona};
                                case 'Arkansas' : return {color : e.Arkansas};
                                case 'California' : return {color : e.California};
                                case 'Colorado' : return {color : e.Colorado};
                                case 'Connecticut' : return {color : e.Connecticut};
                                case 'Delaware' : return {color : e.Delaware};
                                case 'Florida' : return {color : e.Florida};
                                case 'Georgia' : return {color : e.Georgia};
                                case 'Hawaii' : return {color : e.Hawaii};
                                case 'Idaho' : return {color : e.Idaho};
                                case 'Illinois' : return {color : e.Illinois};
                                case 'Indiana' : return {color : e.Indiana};
                                case 'Iowa' : return {color : e.Iowa};
                                case 'Kansas' : return {color : e.Kansas};
                                case 'Kentucky' : return {color : e.Kentucky};
                                case 'Louisiana' : return {color : e.Louisiana};
                                case 'Maine' : return {color : e.Maine};
                                case 'Maryland' : return {color : e.Maryland};
                                case 'Massachusetts' : return {color : e.Massachusetts};
                                case 'Michigan' : return {color : e.Michigan};
                                case 'Minnesota' : return {color : e.Minnesota};
                                case 'Mississippi' : return {color : e.Mississippi};
                                case 'Missouri' : return {color : e.Missouri};
                                case 'Montana' : return {color : e.Montana};
                                case 'Nebraska' : return {color : e.Nebraska};
                                case 'Nevada' : return {color : e.Nevada};
                                case 'New Hampshire' : return {color : e.NewHampshire};
                                case 'New Jersey' : return {color : e.NewJersey};
                                case 'New Mexico' : return {color : e.NewMexico};
                                case 'New York' : return {color : e.NewYork};
                                case 'North Carolina' : return {color : e.NorthCarolina};
                                case 'North Dakota' : return {color : e.NorthDakota};
                                case 'Ohio' : return {color : e.Ohio};
                                case 'Oklahoma' : return {color : e.Oklahoma};
                                case 'Oregon' : return {color : e.Oregon};
                                case 'Pennsylvania' : return {color : e.Pennsylvania};
                                case 'Rhode Island' : return {color : e.RhodeIsland};
                                case 'South Carolina' : return {color : e.SouthCarolina};
                                case 'South Dakota' : return {color : e.SouthDakota};
                                case 'Tennessee' : return {color : e.Tennessee};
                                case 'Texas' : return {color : e.Texas};
                                case 'Utah' : return {color : e.Utah};
                                case 'Vermont' : return {color : e.Vermont};
                                case 'Virginia' : return {color : e.Virginia};
                                case 'Washington' : return {color : e.Washington};
                                case 'West Virginia' : return {color : e.WestVirginia};
                                case 'Wisconsin' : return {color : e.Wisconsin};
                                case 'Wyoming' : return {color : e.Wyoming}
                            }
                        });
                    }
                });
            }
        }
    </script>
</html>