<!DOCTYPE html>
<html lang="en">
<head>
    <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
    <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-pip/v0.0.2/leaflet-pip.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta charset="UTF-8">
    <title>MapTest</title>
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
        .state {
        position:absolute;
        top:10px;
        right:10px;
        z-index:1000;
        }
        .state strong {
        background:#404040;
        color:#fff;
        display:block;
        padding:10px;
        border-radius:3px;
        }
    </style>
</head>
<body>
    <div id='map' class='state'></div>
    <div id='state' class='state'></div>
</body>
<script>
    window.onload = function(){
    //http://leafletjs.com/examples/geojson.html
    var stateStyle = [{
    "type" : "Feature",
    "properties" : {"NAME": "Colorado"}
    }];
    L.mapbox.accessToken = 'pk.eyJ1IjoibHVrZXppbTUiLCJhIjoiV0tta2p0QSJ9.sU76UnZ2bZSQap5uY6XDAA';
    // Create a map in the div #map
    var state = document.getElementById('state');
    var map = L.mapbox.map('map', 'mapbox.streets').setView([39.50,  -98.35], 5);
    $.ajax({
        url: '/assets/geoJson/gz_2010_us_040_00_5m.json',
        dataType: 'json',
        success: function load(d) {
            states = L.geoJson(d, {
            style : function(feature) {
                switch (feature.properties.NAME){
                    case 'Colorado' : return {color : "#ff0000"};
                    }
                }
            }).on('click', function(e){console.log(e.layer.feature.properties.NAME)}).addTo(map);
        }
    });
}
</script>
</html>