<!DOCTYPE html>
<html lang="en">
<head>
    <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
    <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-pip/v0.0.2/leaflet-pip.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta charset="UTF-8">
    <title>MapTest</title>
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
        .legend {
        line-height: 18px;
        color: #555;
        }
        .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
        }
    </style>
</head>
<body>
    <div id='map' class='state'></div>
</body>
    <script>
        window.onload = function(){


            function getColor(d) {
            return d > 4 ? '#BF0200' :
                   d > 3  ? '#8F0B39' :
                   d > 2  ? '#5F1472' :
                   d > 1  ? '#2F1DAB' :
                            '#0026E5';
}

            L.mapbox.accessToken = 'pk.eyJ1IjoibHVrZXppbTUiLCJhIjoiV0tta2p0QSJ9.sU76UnZ2bZSQap5uY6XDAA';
            // Create a map in the div #map
            var state = document.getElementById('state');
            var map = L.mapbox.map('map', 'mapbox.streets').setView([39.50,  -98.35], 5);

            var myControl = L.Control.extend({
                options : {
                    position : 'topright'
                },
                onAdd : function(map) {
                 var textInput = L.DomUtil.create('input', 'queryInput');
                 L.DomEvent.addListener(textInput, 'keyup', this.submit,this)
                 return textInput;
                },
                submit : function(e) {
                    if (e.keyCode == 13){
                        query(e.srcElement.value)
                        console.log(e.srcElement.value);
                    }
                }
            });

            map.addControl(new myControl());
            //L.marker([39.5, -98.35]).addTo(map);

            var legend = L.control({position : 'bottomright'});

            legend.onAdd = function(map){
                var div = L.DomUtil.create('div', 'info legend'),
                    grades = [0,1,2,3,4],
                    labels = [];

                for (var i = 0; i < grades.length; i++){
                div.innerHTML += '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
                    grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
                }
                return div;
            };

            legend.addTo(map);

            $.ajax({
                url: '/assets/geoJson/gz_2010_us_040_00_5m.json',
                dataType: 'json',
                success: function load(d) {
                    states = L.geoJson(d).addTo(map);
                    states.setStyle({color : "#2E0854", opacity : .4, fillOpacity : 1});
                    }
                 });

            stateCenters = omnivore.csv('/assets/csv/state_latlon.csv').addTo(map);
            console.log(stateCenters);

            function query(query){
                $.ajax({
                    url: '/query/' + encodeURIComponent(query),
                    dataType: 'json',
                    success : function load(e){
                        console.log(e);
                        states.setStyle(function(feature){
                            switch (feature.properties.NAME){
                                case 'Alabama' : return {color : e.Alabama.color};
                                case 'Alaska' : return {color : e.Alaska.color};
                                case 'Arizona' : return {color : e.Arizona.color};
                                case 'Arkansas' : return {color : e.Arkansas.color};
                                case 'California' : return {color : e.California.color};
                                case 'Colorado' : return {color : e.Colorado.color};
                                case 'Connecticut' : return {color : e.Connecticut.color};
                                case 'Delaware' : return {color : e.Delaware.color};
                                case 'Florida' : return {color : e.Florida.color};
                                case 'Georgia' : return {color : e.Georgia.color};
                                case 'Hawaii' : return {color : e.Hawaii.color};
                                case 'Idaho' : return {color : e.Idaho.color};
                                case 'Illinois' : return {color : e.Illinois.color};
                                case 'Indiana' : return {color : e.Indiana.color};
                                case 'Iowa' : return {color : e.Iowa.color};
                                case 'Kansas' : return {color : e.Kansas.color};
                                case 'Kentucky' : return {color : e.Kentucky.color};
                                case 'Louisiana' : return {color : e.Louisiana.color};
                                case 'Maine' : return {color : e.Maine.color};
                                case 'Maryland' : return {color : e.Maryland.color};
                                case 'Massachusetts' : return {color : e.Massachusetts.color};
                                case 'Michigan' : return {color : e.Michigan.color};
                                case 'Minnesota' : return {color : e.Minnesota.color};
                                case 'Mississippi' : return {color : e.Mississippi.color};
                                case 'Missouri' : return {color : e.Missouri.color};
                                case 'Montana' : return {color : e.Montana.color};
                                case 'Nebraska' : return {color : e.Nebraska.color};
                                case 'Nevada' : return {color : e.Nevada.color};
                                case 'New Hampshire' : return {color : e.NewHampshire.color};
                                case 'New Jersey' : return {color : e.NewJersey.color};
                                case 'New Mexico' : return {color : e.NewMexico.color};
                                case 'New York' : return {color : e.NewYork.color};
                                case 'North Carolina' : return {color : e.NorthCarolina.color};
                                case 'North Dakota' : return {color : e.NorthDakota.color};
                                case 'Ohio' : return {color : e.Ohio.color};
                                case 'Oklahoma' : return {color : e.Oklahoma.color};
                                case 'Oregon' : return {color : e.Oregon.color};
                                case 'Pennsylvania' : return {color : e.Pennsylvania.color};
                                case 'Rhode Island' : return {color : e.RhodeIsland.color};
                                case 'South Carolina' : return {color : e.SouthCarolina.color};
                                case 'South Dakota' : return {color : e.SouthDakota.color};
                                case 'Tennessee' : return {color : e.Tennessee.color};
                                case 'Texas' : return {color : e.Texas.color};
                                case 'Utah' : return {color : e.Utah.color};
                                case 'Vermont' : return {color : e.Vermont.color};
                                case 'Virginia' : return {color : e.Virginia.color};
                                case 'Washington' : return {color : e.Washington.color};
                                case 'West Virginia' : return {color : e.WestVirginia.color};
                                case 'Wisconsin' : return {color : e.Wisconsin.color};
                                case 'Wyoming' : return {color : e.Wyoming.color}
                            }
                        });
                        stateCenters.bindLabel(function(feature){
                            switch (feature.properties.NAME){
                                case 'Alabama' : return e.Alabama.score;
                                case 'Alaska' : return {title : e.Alaska.score};
                                case 'Arizona' : return {title : e.Arizona.score};
                                case 'Arkansas' : return {title : e.Arkansas.score};
                                case 'California' : return e.California.score.toString();
                                case 'Colorado' : return {title : e.Colorado.score};
                                case 'Connecticut' : return {title : e.Connecticut.score};
                                case 'Delaware' : return {title : e.Delaware.score};
                                case 'Florida' : return {title : e.Florida.score};
                                case 'Georgia' : return {title : e.Georgia.score};
                                case 'Hawaii' : return {title : e.Hawaii.score};
                                case 'Idaho' : return {title : e.Idaho.score};
                                case 'Illinois' : return {title : e.Illinois.score};
                                case 'Indiana' : return {title : e.Indiana.score};
                                case 'Iowa' : return {title : e.Iowa.score};
                                case 'Kansas' : return {title : e.Kansas.score};
                                case 'Kentucky' : return {title : e.Kentucky.score};
                                case 'Louisiana' : return {title : e.Louisiana.score};
                                case 'Maine' : return {title : e.Maine.score};
                                case 'Maryland' : return {title : e.Maryland.score};
                                case 'Massachusetts' : return {title : e.Massachusetts.score};
                                case 'Michigan' : return {title : e.Michigan.score};
                                case 'Minnesota' : return {title : e.Minnesota.score};
                                case 'Mississippi' : return {title : e.Mississippi.score};
                                case 'Missouri' : return {title : e.Missouri.score};
                                case 'Montana' : return {title : e.Montana.score};
                                case 'Nebraska' : return {title : e.Nebraska.score};
                                case 'Nevada' : return {title : e.Nevada.score};
                                case 'New Hampshire' : return {title : e.NewHampshire.score};
                                case 'New Jersey' : return {title : e.NewJersey.score};
                                case 'New Mexico' : return {title : e.NewMexico.score};
                                case 'New York' : return {title : e.NewYork.score};
                                case 'North Carolina' : return {title : e.NorthCarolina.score};
                                case 'North Dakota' : return {title : e.NorthDakota.score};
                                case 'Ohio' : return {title : e.Ohio.score};
                                case 'Oklahoma' : return {title : e.Oklahoma.score};
                                case 'Oregon' : return {title : e.Oregon.score};
                                case 'Pennsylvania' : return {title : e.Pennsylvania.score};
                                case 'Rhode Island' : return {title : e.RhodeIsland.score};
                                case 'South Carolina' : return {title : e.SouthCarolina.score};
                                case 'South Dakota' : return {title : e.SouthDakota.score};
                                case 'Tennessee' : return {title : e.Tennessee.score};
                                case 'Texas' : return {title : e.Texas.score};
                                case 'Utah' : return {title : e.Utah.score};
                                case 'Vermont' : return {title : e.Vermont.score};
                                case 'Virginia' : return {title : e.Virginia.score};
                                case 'Washington' : return {title : e.Washington.score};
                                case 'West Virginia' : return {title : e.WestVirginia.score};
                                case 'Wisconsin' : return {title : e.Wisconsin.score};
                                case 'Wyoming' : return {title : e.Wyoming.score}
                            }
                        }).addTo(map);
                    }
                });
            }
        }
    </script>
</html>